.container
{
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.row
{
    background-color: var(--primary-color);
    width: 100%;
    height: 7px;
    border-radius: 8px;
}

@media screen and (min-width:1081px) 
{
    .container
    {
        display: none;
    }    
}

